.page-wrapper {
  background-color:$black;
  // height : fill-available;
}

.banner {
  padding : 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  color : white;
}

.diffusion {
  background-color : #A361E1;
}

.conception {
  background-color : #7f8cef;
}

.integration {
  background-color : #DD5C5D;
}

.title-box{
  display: flex;
  padding: 30px;
  align-items: bottom;
}

.title-text {
  padding: 10px;
}

#logo {
  height: 100px;
}

#title {
  color : white;
  font-size: 120px;
  font-weight: 700;
  margin-bottom: -40px;
  margin-left: -8px;
}

#subtitle {
  color : white;
  font-weight: 300;
  font-size: 40px;
}
