.punchline {
  color: #A361E1;
  font-weight: 200;
  border-top: 2px solid #A361E1;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.page-wrapper {
  background-color:$black;
  // height : fill-available;
}

.banner {
  padding : 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content {
  color : white;
  font-weight: 200;
}

.diffusion {
  background-color : #DD5C5D;
}

.conception {
  background-color : #7f8cef;
}

.integration {
  background-color : #A361E1;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.title-box{
  display: flex;
  padding: 30px;
  align-items: bottom;
}

.title-text {
  padding: 10px;
}

.simple-list {
  list-style-type:none;
}

.footer {
  padding: 80px 20px 40px 20px;
}

.footer-item {
  padding: 20px 0px 5px 0px;
}

#logo {
}

#title {
  color : white;
  font-size: 120px;
  font-weight: 500;
  margin-bottom: -40px;
  margin-left: -8px;
}

#subtitle {
  color : white;
  font-weight: 200;
  font-size: 40px;
}
