<footer class="footer footer-dark bg-primary font-alt">
  <div class="container">
    <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
        <div class="col-md-6">
            <ul class="nav">
              <li>Nos valeurs</li>
              <li class="">PEDAGOGIE | DESIGN | ECOUTE | INNOVATION | CONFIDENTIALITE | INDEPENDANCE</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="nav justify-content-center justify-content-md-end list-unstyled">
              <li class="">Contact</li>
              <li>contact@agencemed.com | 06 74 76 33 65</li>
            </ul>
        </div>
    </div>
  </div>
</footer>


