---
title: Agence (m)edtech
---

<div class="page-wrapper">

<!-- banner title -->
  <div class="banner">
    <div id="logo">
      <%= image_tag "logo-med.png", width: "200" %>
    </div>
    <div id="title">
        Med
    </div>
    <div id="subtitle">
        Agence (m)edtech
    </div>
  </div>

<!-- banner diffusion -->
  <div class="banner">

  </div>

<!-- banner integration -->
  <div class="banner">

  </div>

<!-- banner conception -->
  <div class="banner">

  </div>
</div>
