---
title: Agence (m)edtech
---

<div class="page-wrapper">

<!-- banner title -->
  <div class="banner">
    <div class="title-box">
      <div id="logo">
        <%= image_tag "logo-med.png", width: "200" %>
      </div>
      <div class="title-text">
        <div id="title">
            Med
        </div>
        <div id="subtitle">
            Agence (m)edtech
        </div>
      </div>
    </div>
  </div>

<!-- banner diffusion -->
  <div class="banner diffusion">
    <div class="content">
      <h2>E-LEARNING & APPLIS WEB AD-HOC</h2>
      <p>Comment souhaitez-vous diffuser votre expertise ? Via une plateforme e-learning, solution classique et rapide à mettre en oeuvre ? Via une application web ad-hoc, solution sur-mesure, simplissime ou plus complexe ?</p>
      <!-- <a href="#" class="special">En savoir plus</a> -->
    </div>
  </div>

<!-- banner integration -->
  <div class="banner integration">
    <div class="content">
      <h2>INTEGRATION CROSS-MEDIA</h2>
      <p>Comment imaginez-vous votre projet final ? Laissez votre imagination vous guider. Il y a peu de limites à l'intégration des médias : vidéos, audio, images, diaporamas, contenus web, téléchargement de fichiers et pourquoi pas votre propre base de données ! Profitez de notre expertise pour vous accompagner. </p>
      <!-- <a href="#" class="special">En savoir plus</a> -->
    </div>
  </div>

<!-- banner conception -->
  <div class="banner conception">
    <div class="content">
      <h2>CONSEIL & CONCEPTION PEDAGOGIQUE</h2>
      <p>Vous souhaitez partager votre expertise. Mais sous quelle forme ? Vous souhaitez transmettre un savoir-faire. Vous souhaitez présenter vos propres données. Vous souhaitez créer un cours en ligne, réaliser une video impactante, ou simplement un poster simple et complet. Laissez libre cours à votre imagination. Nous pouvons vous accompagner dans vos choix et l'écriture du storyboard de votre projet. N'oubliez pas qu'avec le web d'aujourd'hui, tous les médias (ou presque) peuvent devenir interactifs !
      <!-- <a href="#" class="special">En savoir plus</a> -->
    </div>
  </div>

<!-- footer  -->
  <div class="banner">
    <div class="content">
      contact@agencemed.com | 06 74 76 33 65
    </div>
  </div>
</div>
























