---
title: Agence (m)edtech
---

<div class="page-wrapper">

<!-- banner title -->
  <div class="banner head">
    <div class="title-box">
      <div id="logo">
        <%= image_tag "logo-med.png", height:"200px"%>
      </div>
      <div class="title-text">
        <div id="title">
            Med
        </div>
        <div id="subtitle">
            Agence m/edtech
        </div>
      </div>
       <p>Accompagnement de projets pédagogiques dans le domaine médical et scientifique.</p>
    </div>
  </div>

<!-- banner conception -->
  <div class="banner conception">
    <div class="content">
      <h2>REDACTION, CONCEPTION PEDAGOGIQUE, CONSEIL</h2>
      <p>Vous souhaitez partager votre expertise. Mais sous quelle forme ? </p>
      <ul class="simple-list">
        <li>> Vous souhaitez transmettre un savoir-faire.</li>
        <li>> Vous souhaitez créer un cours en ligne. </li>
        <li>> Vous souhaitez présenter vos propres données.</li>
        <li>> Vous souhaitez réaliser une video impactante.</li>
        <li>> Ou plus simplement, vous souhaitez réaliser une infographie simple et complète.</li>
      </ul>
      <p>Laissez libre cours à votre imagination. Nous vous accompagnons dans vos choix et l'écriture du storyboard de votre projet. N'oubliez pas qu'avec le web d'aujourd'hui, tous les médias (ou presque) peuvent devenir interactifs !</p>

      <!-- <a href="#" class="special">En savoir plus</a> -->
    </div>
  </div>

<!-- banner diffusion -->
  <div class="banner diffusion">
    <div class="content">
      <h2>ELEARNING</h2>
      <p>Comment souhaitez-vous diffuser votre expertise ? Via une plateforme e-learning, solution classique et rapide à mettre en oeuvre ? Via une application web, solution sur-mesure, simplissime ou plus complexe ?</p>
      <ul class="simple-list">
        <li>> Diffusion de contenus elearning classiques via plateforme LMS</li>
        <li>> Diffusion d'une simple base de données via une appli web dédiée</li>
        <li>> Diffusion de votre expertise via une plateforme web multiservices (base de données, e-learning, chat, webinaire, diaporama...)</li>
      </ul>
      <!-- <a href="#" class="special">En savoir plus</a> -->
    </div>
  </div>

<!-- banner integration -->
  <div class="banner integration">
    <div class="content">
      <h2>INTEGRATION CROSS-MEDIA</h2>
      <p>Comment imaginez-vous votre projet final ? Laissez votre imagination vous guider. Il y a peu de limites à l'intégration media.</p>
      <ul class="simple-list">
        <li>> Vidéos</li>
        <li>> Images</li>
        <li>> Audio</li>
        <li>> Contenus web</li>
      </ul>
      <p>Et ajoutez de l'interaction à ces médias. Profitez de notre expertise pour vous accompagner. </p>
      <!-- <a href="#" class="special">En savoir plus</a> -->
    </div>
  </div>

<!-- footer  -->
  <div class="banner">
    <div class="content">
      contact@agencemed.com | 06 74 76 33 65
    </div>
  </div>
</div>
























